<html>
    <head>
        <title>New Forum Post - Cyberhub</title>
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
        {% include "imports.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <h1>New Forum Post</h1>
        <form action="post" method="POST">
            <input type="text" name="title" id="title" placeholder="Title of the post here" required>
            <textarea id="content" name="content" placeholder="Content of the post here"></textarea>
            <input type="submit" value="Post">
        </form>
        <script>
            var easyMDE = new EasyMDE();
        </script>
    </body>
</html>
