<html>
    <head>
        <title>Register - Cyberhub</title>
        {% include "imports.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <form method="POST" action="register">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="email">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="username">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="password">
            <input type="submit" value="Log In">
        </form>
    </body>
</html>